@charset "UTF-8";
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

body {
  font-family: "outfit", sans-serif;
  background-color: hsl(217deg, 54%, 11%);
  color: red;
  font-size: 18px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  width: 25%;
  min-width: 325px;
  background-color: hsl(216deg, 50%, 16%);
  border-radius: 8px;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  margin: auto;
}

#card-image {
  width: 90%;
  border-radius: 8px;
  margin-left: 5%;
  margin-right: 4%;
  margin-top: 2%;
}

/*1. Wrap in an anchor tag (or button depending on what you would expect clicking on it to do) that’s display block and position relative. Give it an aria label
2. Have your image inside that also set to display block max width 100%. Make it have an empty alt
3. Add a before and after pseudo element to the anchor tag, absolutely positioned and 100% width and height and content as an empty string
4. Make one pseudo background color teal
5. Make the other background image with the eye image. Use background properties to size and position it
6. Set both to have opacity 0 by default
7. On hover of the anchor make the pseudo with teal color opacity 0.7ish, make the pseudo with the eye opacity 0.

The etherium image inside an anchor element
Anchor position relative
Before background cyan
After background image eye
*/
.hovered {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.hovered::before {
  position: absolute;
  width: 100%;
  height: 100%;
}
.hovered::after {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("images/image-avatar.png");
}

.card-title, .card-description {
  width: 90%;
  margin-right: auto;
  margin-left: 5%;
  font-weight: 300;
  color: hsl(0deg, 0%, 100%);
}

.card-title:hover {
  color: hsl(178deg, 100%, 50%);
  cursor: pointer;
  transition: 0.4s;
}

.card-description {
  color: hsl(215deg, 51%, 70%);
  font-size: 20px;
}

.card-container1 {
  width: 100%;
  margin-top: 1.5em;
  margin-bottom: 2em;
}

.left-1 {
  float: left;
  margin-left: 2vh;
  color: hsl(178deg, 100%, 50%);
}

.right-1 {
  float: right;
  margin-right: 2vh;
  color: hsl(215deg, 51%, 70%);
}

hr.line-1 {
  margin-top: 3.5em;
  border: 1px solid hsl(215deg, 32%, 27%);
  width: 90%;
}

.card-container2 {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  margin-bottom: 2%;
}

.left-2 img {
  float: left;
  margin-left: 5%;
  max-width: 30%;
  border: 1px solid hsl(0deg, 0%, 100%);
  border-radius: 25px;
}

.right-2 {
  margin-left: -20%;
  color: hsl(215deg, 51%, 70%);
  font-weight: 100;
}

.author, a.author {
  text-decoration: none;
  font-weight: 300;
  color: hsl(0deg, 0%, 100%);
}
.author:hover, a.author:hover {
  color: hsl(178deg, 100%, 50%);
  transition: 0.3s;
}

.attribution {
  display: block;
  position: absolute;
  bottom: 10%;
  color: white;
}/*# sourceMappingURL=styles.css.map */