$mainBG: hsl(217, 54%, 11%);
$cardBG: hsl(216, 50%, 16%);
$line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

$softBlue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);


a:link, a:visited, a:hover, a:active { 
    text-decoration: none; 
}


body {
    font-family: "outfit", sans-serif;
    background-color: $mainBG;
    color: red;
    font-size: 18px;
}

main{
   display: flex;
   justify-content: center;
   align-items: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 25%;
    min-width: 325px;

    background-color: $cardBG;

    border-radius: 8px;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;

    margin: auto;
}



.overlay-eye{ /* This shows first BEFORE .hovered, all you have to do is set it in the place you want, display: none; then in the hovered version, display: unset to make it visible when hovered*/
    width: 4%;
    position: absolute;
    top: 23vh;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}

// // 
// .hovered{ /* parent */
//     &.left{ /* parent AND .left */

//     }
//     &.right{ /* parent AND .right */

//     }

//     &:hover{ /* .hovered WITH :hover attribute */

//     }
// */

#card-image {
    
    width: 90%;
    border-radius: 8px;
    margin-left: 5%;
    margin-right: 4%;
    margin-top: 2%;
}

.hovered{
    cursor: pointer;

    &:hover {
           .overlay{
            position: absolute;
            top: 3%;
            right: 27vh;
            width: 42%;
            height: 39%;
            opacity: 0.5;
            background-color: $cyan;
            border-radius: 10px;
            }
            .overlay-eye{
                display: unset;
            }
}
}
           
.overlay{
    position: absolute;
}


.card-title, .card-description{
    width: 90%;
    margin-right: auto;
    margin-left: 5%;
    font-weight: 300;
    color:$white;
}

.card-title:hover{
    color: $cyan;
    cursor: pointer;
}

.card-description {
    color: $softBlue;
    font-size: 20px;
}

.card-container1{
    width: 100%;
    margin-top: 1.5em;
}

.left-1 {
    float:left;
    margin-left: 2vh;
    /* When using Display: inline-block; 
    display: inline-block;
    white-space: nowrap;

    margin-left: 4%;
    margin-right: 13%;
    */
    color: $cyan;
}
.right-1 {
    float: right;
    margin-right: 2vh;
    /*
    display: inline-block;
    white-space: nowrap;

    margin-left: 13%;
    margin-right: 4%;
    */
    color: $softBlue;

    
}
hr.line-1{
    border: 1px solid $line;
  
    width: 90%;
}

.card-container2{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
}

.left-2 img{
    
    max-width: 30%;
    border: 1px solid $white;
    border-radius: 25px;
}

.right-2{
    margin-left: -20%;
    color: $softBlue; 
    font-weight: 100;
}



.author, a.author {
    text-decoration: none;
    font-weight: 300;
    color: $white;
}

.author:hover a{
    text-decoration: none;
    color: $cyan;
}